footer {
    display: flex;
    background-color: black;
    border-top: solid 2px white;
    width: 100%;
    color: white;
    justify-content: right;
    padding-right: 60px;
    margin-top: 43px;
    height: 100vh;
}